.info-section {
    padding: 0 32px;
    text-align: center;
    background-color: white;
    width: 80%;

   margin-bottom: 2rem !important;
    margin: 0 auto;
}
.info-title-content {
    margin: 64px 0 64px 0;
}
.info-title {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: bold;
}
.info-title > span {
    position: relative;
}
.info-title span::before {
    content: '';
    position: absolute;
    width: 75%;
    height: 4px;
    background-color: #9D2553;
    border-radius: 8px;
    left: 0;
    bottom: -12px;
}
.info-description {
    margin-top: 64px;
    text-align: center;
    color: rgb(77, 75, 75);
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    letter-spacing: .8px;
    line-height: 1.8rem;
}
/* Cards */
.info-cards-content {
    margin: 64px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}
.info-cards {
    height: auto;
    border: 2px solid #d7d3d3;
    border-radius: 12px;
    background-color: white;
    position: relative;
}
.info-card-title {
    margin: 32px 0 40px 0;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: .8px;
}
.info-card-description {
    margin: 24px;
    color: rgb(77, 75, 75);
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    letter-spacing: .8px;
    line-height: 1.5rem;
}
.info-card-icon {
    position: absolute;
    top: -24px;
    left: 44%;
    padding: 10px;
    background-color: #DCE6FF;
    border-radius: 30px;
}
.info-fa-icon {
    color: #2C96FF;
    font-size: 24px;
}
/* Responsive */
@media screen and (max-width: 1000px) {
    .info-description {
        margin: 64px 32px;
    }
    .info-cards-content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 700px) {
    .info-description {
        margin: 64px 8px;
    }
    .info-cards-content {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* styles.css */


.advantages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-bottom: 3rem;
  }
  
  .advantage-line {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
  }
  
  .advantage-line:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .advantage-line:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .advantage-line:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  .advantage-icon {
    margin-right: 15px;
    font-size: 24px;
  }
  
  .advantage-text {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: start;

  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .service-line{
    display: flex;
    margin-bottom: 1rem;

  }

  .service-icon{
    margin-right: 0.5rem;
  }
  .service-text{
    font-size: 1.2rem;
    text-align: justify;
  }